---
import Union from '../components/union';
import Layout from '../layouts/Layout.astro';

const variables = {
	titulo: "Perdón",
	persona: "Cami",
	pregunta1: "¿Me perdonarías?",
}
---

<Layout title=`${variables.titulo}` >
	<main>
		<h1>Hola <span class="text-gradient">{variables.persona}</span></h1>
		<!-- <p>Descripción <span class="text-gradient">{variables.persona}</span></p> -->
		<p class="instructions text-center">
			<strong>{variables.pregunta1}</strong> 
		</p>
		<Union client:load />
	</main>
</Layout>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
	main {
		margin: auto;
		padding: 1.5rem 0;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		position: relative; 
		height: 100svh;
		z-index: 1;
	}
	main::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url("moon.svg");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.2;
		z-index: -1;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 0.5em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		font-size: 25px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.text-center{
		text-align: center;
	}
	body {
		margin: 0;
		padding: 0;
	}
</style>